.content{
    width: 100%;
    margin-left: 280px;
}


.home{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    &__image{
        width: 75%;
        height: 70%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &__text{
        text-align: center;
        font-size: 3rem;
        font-weight: 900;

        @media only screen and (max-width: 1300px){
            font-size: 2.7rem;
        }

        & span{
            color: #E31C6E;
        }        
    }
}

.content::-webkit-scrollbar {
    display: none;
}

