.content {
  width: 100%;
  margin-left: 280px;
  overflow-x: hidden;
}
.toggler {
  display: none;
}
.home {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;

  &__image {
    width: 75%;
    height: 70%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    text-align: center;
    font-size: 2.9rem;
    font-weight: 900;

    &-primary {
      animation: moveTop 1s ease-out;
    }

    &-secondary {
      animation: moveSlowTop 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }

    @media only screen and (max-width: 1300px) {
      font-size: 2.7rem;
    }

    & span {
      color: #e31c6e;
    }
  }
}

.content::-webkit-scrollbar {
  display: none;
}

@keyframes moveTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveSlowTop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (max-width: 992px) {
  .content {
    margin-left: 0;
  }
  .toggler {
    display: block;
  }
}
