.contact {
  padding: 0 25px;
  margin-bottom: 50px;

  &__heading {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    display: inline;
    color: midnightblue;
  }

  &__space {
    margin-top: 30px;
  }

  &__message {
    margin-top: 20px !important;
  }

  &__header {
    text-align: center !important;
  }

  &__image {
    width: 200px;
    height: 200px;
    border: 2px solid silver;
    border-radius: 50%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 400px;
    border-radius: 5px;
    border: 1px solid silver;
    height: 40px;
    padding: 0.5rem;
    margin-bottom: 30px;
  }

  &__input:hover {
    border: 1px solid black;
  }

  &__textarea {
    width: 400px;
    border-radius: 5px;
    border: 1px solid silver;
    height: 40px;
    padding: 0.5rem;
    margin-bottom: 30px;
    height: 100px;
  }

  &__textarea:hover {
    border: 1px solid black;
  }

  &__btn {
    width: 400px !important;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }

  &__infobox {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 0.4rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
  }

  &__icon {
    margin-right: 0.3rem !important;
    font-size: 1.4rem !important;
  }

  &__finaltxt {
    text-align: center;
    margin-top: 30px;
    opacity: 0.6;
  }
}

.message__icon {
  background-color: #3f51b5 !important;
  border-radius: 50% !important;
  width: 45px !important;
  height: 45px !important;
  color: #ffffff !important;
  padding: 0.5rem !important;
}

.message__header {
  font-weight: 500;
}

.send__icon {
  margin-left: 10px !important;
  font-size: 1rem !important;
}

.fb__link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
