.Sidebar{
    padding: 10px 0;
    flex: 0.3;
    background-image: linear-gradient(to right bottom, #1339b3, #061238);
    position: sticky;
}

.author{
    text-align: center;
    margin-bottom: 10px;
    

    &__image{
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }
}

.icons{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    
    &__icon{
        color: #fff !important;
        opacity: 0.8 !important;
    }
}

.Links{
    &__list{
        list-style: none;
    }

    &__list-items{
        display: flex;
        flex-direction: column;
    }

    &__item:link, &__item:visited{
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }

    &__item:hover{
        background-color: #091c57;
    }

    &__icon{
        margin-right: 30px;
    }
}

.legal{
    color: #fff;
    font-size: 12.5px;
    text-align: center;
    margin-top: 20px;
}